AFIP.WebServices/Web References/ar.com.evol.erp/WSEvol.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://erp.evol.com.ar/ws" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://erp.evol.com.ar/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://erp.evol.com.ar/ws">
      <s:element name="ObtenerAutenticacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pParametro" type="tns:Objeto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Objeto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorAccesoDatos" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorException" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BajaLogica" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="tns:TGEEstados" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaEvento" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoMensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoMensajeArgs" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="HashTransaccion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjetoXML" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BusquedaParametros" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioLogueado" type="tns:UsuarioLogueado" />
          <s:element minOccurs="1" maxOccurs="1" name="ConfirmarAccion" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ConfirmaMensajes" type="tns:ArrayOfConfirmarMensajes" />
          <s:element minOccurs="0" maxOccurs="1" name="dsResultado">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Filtro" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TGEEstados">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdEstado" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoMensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioLogueado" type="tns:UsuarioLogueado" />
          <s:element minOccurs="0" maxOccurs="1" name="TiposFuncionalidades" type="tns:ArrayOfTGETiposFuncionalidades" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UsuarioLogueado">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuarioEvento" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioAS400" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioEvento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CorreoElectronico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoMensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoMensajeArgs" type="tns:ArrayOfAnyType" />
          <s:element minOccurs="1" maxOccurs="1" name="ConsultarAuditoria" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IdFilialEvento" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTGETiposFuncionalidades">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TGETiposFuncionalidades" nillable="true" type="tns:TGETiposFuncionalidades" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TGETiposFuncionalidades">
        <s:complexContent mixed="false">
          <s:extension base="tns:Objeto">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdTipoFuncionalidad" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="TipoFuncionalidad" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfConfirmarMensajes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ConfirmarMensajes" nillable="true" type="tns:ConfirmarMensajes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ConfirmarMensajes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoMensaje" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Confirmar" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AfipServiciosWebTickets">
        <s:complexContent mixed="false">
          <s:extension base="tns:Objeto">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdLoginTicket" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="UniqueId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="GenerationTime" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="ExpirationTime" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Sign" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LoginTicketResponse" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Service" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ObtenerAutenticacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerAutenticacionResult" type="tns:AfipServiciosWebTickets" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerAutenticacionSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerAutenticacion" />
  </wsdl:message>
  <wsdl:message name="ObtenerAutenticacionSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerAutenticacionResponse" />
  </wsdl:message>
  <wsdl:portType name="WSEvolSoap">
    <wsdl:operation name="ObtenerAutenticacion">
      <wsdl:input message="tns:ObtenerAutenticacionSoapIn" />
      <wsdl:output message="tns:ObtenerAutenticacionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSEvolSoap" type="tns:WSEvolSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerAutenticacion">
      <soap:operation soapAction="https://erp.evol.com.ar/ws/ObtenerAutenticacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSEvolSoap12" type="tns:WSEvolSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerAutenticacion">
      <soap12:operation soapAction="https://erp.evol.com.ar/ws/ObtenerAutenticacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSEvol">
    <wsdl:port name="WSEvolSoap" binding="tns:WSEvolSoap">
      <soap:address location="https://erp.evol.com.ar/ws2/WSEvol.asmx" />
    </wsdl:port>
    <wsdl:port name="WSEvolSoap12" binding="tns:WSEvolSoap12">
      <soap12:address location="https://erp.evol.com.ar/ws2/WSEvol.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>